.media{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
   
}
.media  .media__player{
    width: 500px;
    border-radius: 6px;
    height: 400px;
    object-fit: contain;
    background: url(./person.png) center;
    background-size: cover;
}
